body {
    font-family: 'Lato', sans-serif;
    background-image: url("img/2.jpg");
    background-repeat: no-repeat;
}
   
header {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.container {
    height: auto;
    width: auto;
    text-align: center;
}

nav {
    text-align: center;
    padding: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    
}

nav ul li a{
    text-decoration: none;
}

main {
    font-size: 24px;
    background: transparent;
    margin-right: 30%;
    margin-left: 30%;
}

main span {
    background: transparent;
    
}

.gallery {
    float: left;
    width: 100%;
    height: 80%;
    align-items: center;
}

.gallery img {
    width: 30%;
    height: 20em;
}

.gallery img:hover {
    transform: scale(0.8) rotate(15deg);
    -webkit-transform: scale(0.8) rotate(15deg);
    -moz-transform: scale(0.8) rotate(15deg);
    -ms-transform: scale(0.8) rotate(15deg);
    -o-transform: scale(0.8) rotate(15deg);
}



