* {
    font-family: 'Lato', sans-serif;
    background-image: url("img/2.jpg");
}

.top {
    
    
}
header {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.container {
    height: auto;
    width: auto;
    text-align: center;
}

nav {
    text-align: center;
    padding: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    
}

nav ul li a{
    text-decoration: none;
}



