body {
    font-family: 'Lato', sans-serif;
    background-image: url("img/2.jpg");
    background-repeat: no-repeat;
    background-size: 100% ;
}
   
header {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.container {
    height: auto;
    width: auto;
    text-align: center;
}

nav {
    text-align: center;
    padding: 30px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li{
    display: inline;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    
}

nav ul li a{
    text-decoration: none;
}

main {
    font-size: 24px;
    background: transparent;
    margin-right: 30%;
    margin-left: 30%;
}

main .p1 {
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
} 

main .p2 {
    background: transparent;
    margin: 0 20% 0 20%;
}

main .p3 {
    background: transparent;
    margin: 0 20% 0 20%;
}

.gallery {
    display: grid;
    grid-gap: 50px;
    width: 100%;
    height: 80%;
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    justify-items: center;
}
   
.gallery img {
    
    width: 80%;
    height: 20em;
    border-radius: 15%;
    -webkit-border-radius: 15%;
    -moz-border-radius: 15%;
    -ms-border-radius: 15%;
    -o-border-radius: 15%;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
    cursor: pointer;
    object-fit: fill;
}

.gallery img:hover {
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}

/* .gallery_fullscreen {
    width: 100%;
    height: 90vh;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.9);
}

.gallery_fullscreen img {
    width: 90%;
    max-width: 500px;
} */

.contentBox {
    width: 90%;
    height: 90%;
    background: transparent;
    -webkit-box-shadow: 0px 0px 100px 20px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 100px 20px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 100px 20px rgba(66, 68, 90, 1);
    position: relative;
    
}

.boxElement{
    display: none;
}

/* .boxElement img{
    width: 100%;
} */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
.active, .dot:hover {
    background-color: #717171;
}